.play {
    margin: 20px
}

.list-group-item {
    opacity: 0.85;
}

.progress {
    height: 40px;
}

#prompt {
    margin-top: -12px;
}

.col-md-9 {
    padding-top: 60px;
    background: rgba(255, 255, 255, .40);
    padding-bottom: 30px;
    border-radius: 10px;
    height: 645px;
}

.col-md-3 {
    padding-top: 15px;
}

#countdown {
    position: absolute;
    left: 48%;
    top: 5px;
}


.ace_editor {
    border-radius: 6px;
}