.play {
    margin: 50px
}

.list-group-item {
    opacity: 0.85;
}

.progress {
    height: 50px;
}

#prompt {
    margin-top: -12px;
}

#scoreboard {
    background: rgba(255, 255, 255, .40);
    padding-top: 15px;
    padding-bottom: 15px;
}

#language {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#prompts {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


#countdown {
    position: absolute;
    left: 48%;
    top: 5px;
}


.ace_editor {
    border-radius: 6px;
    opacity: 0.9;
}