.loadingGif {
    height: 80%;
    width: 100%;
    display: block
}

.slowtyper {
    width: 100%;
    height: 60%;
    border-radius: 25px;
    background: black;
    padding: 15px; 
}


.fasttyper {
    width: 100%;
    height: 60%;
    border-radius: 25px;
    background: black;
    padding: 15px; 
}

h1 {
    text-align: center;
}

.topspace {
    margin-bottom: -100px;
}

.midcontainer {
    margin-bottom: -80px;
}

.topcontainer {
    margin-bottom: 40px;
}

